@charset "utf-8";

/*reset css start*/
body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  color: #ffffff;
  font-size: 15px;
  line-height: 2;
}

p, h1, h2, h3, h4, h5, h6, small, table{
  margin-top: 0;
  font-family: sans-serif;
}

img {
  vertical-align: bottom;
}

ul{
  margin: 0;
  padding: 0;
}
/*reset css end*/

/*defining default start*/
a {
  color: #ff4500;
  text-decoration: none;
}

a:visited{
  color: #788d98;
}

a:hover{
  text-decoration: underline;
}
/*defining default end*/

/*header start*/
header{
  width: 960px;
  height: 86px;
  margin: 0 auto;
  background-color: transparent;
}

.logo {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 121px;
  height: 36px;
}

.logo img{
  float: left;
  width: 121px;
  height: 36px;
}

header p{
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 36px;
  line-height: 1;
}
.global-SNS-Link{
  float: right;
}

.global-SNS-Link li{
  float: left;
  margin: 10px;
  font-size: 10px;
  list-style: none;
  width: 36px;
  height: 36px;
}

.global-SNS-Link li img{
  float: left;
  list-style: none;
  width: 36px;
  height: 36px;
}

}
.global-SNS-Link li a{
  color: #ffffff;
}

.global-SNS-Link li a:hover {
  border-bottom: 2px solid #ffffff;
  padding bottom: 3px;
  text-decoration: none;
}

header .clearfix:after {
  content:"";
  display: block;
}

.global-nav {
  clear: right;
  display: block;
}

.global-nav li{
  display: inline-block;
  width: 300px;
  margin: 0 1px;
  text-align: center;
  font size: 20px;
  list-style: none;
  border-radius: 5px;
  font-family: 'Anton', sans-serif;
}

.global-nav li:hover {
  background-color: #ff4500;
  color: #ffffff;
  font-family: 'Anton' sans-serif;
}

.global-nav li a:hover {
  text-decoration: none;
}

/*header end*/

/*body start*/
#wrap {
  clear: both;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 35px 0;
}

.content{
  width: 920px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 10px;
}

.main-center {
  width: 900px;
  margin: 0 auto;
}

.decoration-title{
  font-size: 100pt;
  line-height: 1;
  color: #ffffff;
  font-family: 'Anton', sans-serif;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
  line-height: 1.3
}

.decoration-title-2{
  font-size: 80pt;
  line-height: 1;
  color: #ffffff;
  font-family: 'Anton', sans-serif;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 0px;
  line-height: 1.3;
  clear: both;
}

h1{
  font-size: 30px;  
  margin-bottom: 300px;
}

h2{
  font-size: 24px;
}

.icon:before{
  content: "";
  padding-right: 10px;
  border-left: 7px solid #ff4500;
}

.titleblock-2{
  padding-left: 10px;
  border-left: 7px solid #ff4500;
}

.clearfix:after {
  content:"";
  display: block;
  clear: both;
}

#interview:before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url(../images/Assemble3.jpg) center no-repeat;
    background-size: cover;
}

#interview .characteristic{
  margin-bottom: 80px;
}

#interview .person{
  margin-bottom: 50px;
}
#interview .button{
  color: #ff5400;
  background-color: #ffffff;
  width: 230px;
  margin: 0 1px;
  text-align: center;
  font size: 20px;
  list-style: none;
  border-radius: 5px;
  font-family: 'Anton', sans-serif;
  float: right;
}

#interview .button:hover{
  color: #ffffff;
  background-color: #ff5400;
  text-decoration: none;
}

#interview .person{
  float: right;
}

#interview_article:before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url(../images/Assemble3.jpg) center no-repeat;
    background-size: cover;
}

#interview_article .profile_decoration_title{
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
}
#interview_article .QandA{
   margin-bottom: 60px;
}

#interview_article .profile-image{
  width: 340px;
  float:left; 
}

#interview_article .profile-image p{
  float: right;
}

#interview_article .profile_image_image{
  width: 300px;
  margin: 20px 20px 0px 20px; 
}

#interview_araticle .profile-text{
  float: left;
}

#interview_article .question{
  font-weight: bold;
}

#interview_article .interviewer-title{
  font-family: 'Anton', sans-serif;
  float:left;
}
#index:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url(../images/Assemble2.jpg) center no-repeat;
    background-size: cover;
}

.global-nav li{
  background-color: #ffffff;
  color: #ff5400;
}

.content{
  margin-top: 150px;
  background-color: transparent;
}

#index .block{
    margin-bottom: 100px;
}

#index .News-list{
  overflow: auto;
  width: 920px;
  height: 200px;
  border: solid 1px #ffffff;
  border-radius: 5px;
}

#index .News-list p{
  margin-bottom: 0;
}

#index th{
  width: 150px;
  padding: 5px 0;
  border: 1px solid #ffffff;
}

#index td{
  width: 800px;
  padding: 5px 0;
  border: 1px solid #ffffff;
}


#index .more-button{
  color: #ff5400;
  background-color: #ffffff;
  width: 230px;
  margin: 0 1px;
  text-align: center;
  font size: 20px;
  list-style: none;
  border-radius: 5px;
  font-family: 'Anton', sans-serif;
  float: right;
}

#index .more-button:hover{
  color: #ffffff;
  background-color: #ff5400;
  text-decoration: none;
}

.global-nav li:hover {
  background-color: #ff4500;
  color: #ffffff;
  font-family: 'Anton' sans-serif;
}


#contact:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url(../images/Spring2.jpg) center no-repeat;
  background-size: cover;
}

#info:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url(../images/Practice.jpg) center no-repeat;
  background-size: cover;
}

#info span{
  color: #ff5400;
}

#info .request p small{ 
    margin-bottom: 10px;
}
  
#info .request th{
  width: 150px;
  padding: 5px 0;
  border: 1px solid #ffffff;
}

#info .request td{
  width: 200px;
  padding: 5px 0;
  border: 1px solid #ffffff;
  text-align: center;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 0 40px 0;
}

#info .flowchart .vertex{
  height: 100px;
  width: 940px;
  float: none;
} 

#info .flowchart h3{
  float: right;
  width: 810px;
  padding: 35px 0;
  margin-left: 30px;
  line-height: 1;
  font-size: 30px;
  margin-bottom: 0;
}

#info .flowchart .starticon{
  height: 35px;
  width: 100px;
  padding: 35px 0;
  border-radius: 50px;
  background-color: #ff5400;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  line-height: 1;
  text-align: center;
  float: right;
  margin: 0;
}

#info .flowchart h3 span{
    color: #ff5400;
}

#info .flowchart .icon{
  float: right;
  height: 100px;
  width: 100px;
}
  
#info .flowchart .explanation{
  height: 110px;
}
#info .flowchart .edge{
  height: 110px;
  width: 100px;
  float: left;
  text-align: center;
}

#info .date th{
  width: 100px;
  padding: 5px 0;
  border: 1px solid #ffffff;
}

#info .date td{
  width: 200px;
  padding: 5px 0;
  border: 1px solid #ffffff;
  text-align: center;
}

#link:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url(../images/LiveSummer2.jpg) center no-repeat;
  background-size: cover;

}

/*body end*/

footer{
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  padding: 20px 0;
}

footer small {
  font-size: 12px;
}



@media screen and (max-width:600px){
/*画面サイズが600px以下の場合に適応*/
  
  body{
    font-size: 3.5vw;
  }
  
  .decoration-title{
    font-size: 23vw;
  }
  
  .decoration-title-2{
    font-size: 15vw;
    margin-bottom: 0;
  }
  
  h1{
    font-size: 6vw;
    margin-bottom: 0;
  }
  
  h2{
    font-size: 6vw;
  }
  
  header{
    width: auto;
    margin: 0.5%;
  }
  
  .logo{
    float: none;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    width: 70vw;
    height: 21vw;
  }
  
  .logo img{
    float: none;
    width: 70vw;
    height: 21vw;
  }
  
  header p{
    float: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 5vw;
    line-height: 1;
    text-align: center;
  }

  
  .global-nav{
    float: none;
    margin-top: 40px;
    text-align: center;
  }
  
  .global-nv li{
    display: inline;
    float: none;
    margin: 0 8px;
  }
  
  #wrap{
    margin-top: 40px;
    padding: 35px 0 0;
  }
  
  .content{
    width: 100%
  }
  
  .global-nav {
    float: none;
    clear: right;
    display: block;
  }
  
  
  .global-nav li{
    float: center;
    display: inline-block;
    width: 90vw;
    margin:  1vw;
    text-align: center;
    font size: 20px;
    list-style: none;
    border-radius: 5px;
  }
  
  .main-center {
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .titleblock-1{
  margin-bottom: 100px;
}

  
  #interview:before{
    background: url(../images/Assemble3Phone.jpg) center no-repeat;
    background-size: cover;
  }
  
  #interview .characteristic{
    margin-bottom: 60px;
  }
  
  #interview .person{
    margin-bottom: 40px;
  }
  
  #interview .button{
    width: 90vw;
    float: none;
    margin: 0 auto;
  }
  
  #interview_article:before{
    background: url(../images/Assemble3Phone.jpg) center no-repeat;
    background-size: cover;
  }
  
  #index:before {
    background: url(../images/AssemblePhone.jpg) center no-repeat;
    background-size: cover;
  }
  
  #index .News-list{
    width: 90vw;
    margin: 0 auto;
  }
  
  #index .more-button{
    width: 90vw;
    float: none;
    margin: 0 auto;
  }
  
  #info:before {
    background: url(../images/PracticePhone.jpg) center no-repeat;
    background-size: cover;
  }
  
  #info .flowchart .vertex{
    height: 25vw;
    width: 100%;
    clear: both;
    
  } 

  #info .flowchart .starticon{
    height: 5vw;
    width: 25vw;
    padding: 10vw 0;
    border-radius: 12.5vw;
    background-color: #ff5400;
    font-size: 5vw;
    font-family: 'Anton', sans-serif;
    line-height: 1;
    text-align: center;
    float: left;
    margin: 0;
  }

  #info .flowchart h3{
    width: 65vw;
    height 25vw;
    margin-left: 5vw;
    padding: 10vw 0;
    line-height: 1;
    font-size: 5vw;
    margin-bottom: 0;
  }
  
  #info .flowchart .icon{
    float: left;
    height: 25vw;
    width: 25vw;
  }

  #info .flowchart .explanation{
    height: 160px;
  }
  #info .flowchart .edge{
    margin: 35px 0;
    height: 110px;
    width: 25vw;
    float: left;
  }

  #info .flowchart .explanation-txt{
    float: left;
    height:180px;
    width: 60vw;
    margin-left: 5vw;
  }
  
  #contact:before {
    background: url(../images/SpringPhone2.jpg) center no-repeat;
    background-size: cover;
  }
  
  #link:before {
    background: url(../images/LiveSummerPhone.jpg) center no-repeat;
    background-size: cover;
    
  }

}